ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* End reset rules */
a:hover { text-decoration: none;}

#footer {
    height: 32px;
    text-align: center;
    padding: 10px 5px;
    margin: 20px;
}

.sample {
    display: none;
}
#content .last_updated { margin: 0px 0px 15px 0px }
#content .movie {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #EEE;
    border-radius: 10px;
}
#content .movie li:first-child { margin-top: 0px; margin-bottom: 10px;}
#content .movie li { margin: 6px 0px;}
#content .movie .image-holder { padding-right: 15px;  margin-bottom: 5px; width: 165px;}
#content .movie .image-holder .image { width:165px; height: auto; }
#content .movie li.title { font-weight: bold; font-size: 20px; }